[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-theme-fred"]
	path = themes/hugo-theme-fred
	url = https://github.com/mrckarlsson/hugo-theme-fred
